{% extends "FiFa/base.html" %}
{% load static %}
{% block content %}
    <div class="cont">
            <div class="container2">
                <img src="{% static "FiFa/media/AboutPic.jpg" %}" alt="about" class="img-fluid" />
                <p class="bottomleft">About Fifa</p>
            </div>
            <p class="paragraph1" >
                Fifa exits to govern football and to develop the game around the world. 
                Since 2016, the organisation has been fast evolving into a body that can more effectively serve our game for the benefit of the 
                entire world. 
            </p>
            <p class="paragraph" >
                The new FIFA is modernising football to be global, accessible and inclusive in all aspects. Not just on one or two continents, 
                but everywhere.
            </p>
            <p class="paragraph">
                Under our vision to make football truly global, we will help develop football everywhere so that there are at least 50 
                national teams and 50 clubs from all continents that can compete at a top competitive level.
            </p>
        </div>
    </div>
{% endblock content %}